<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881147344392-ekd4qtggl8epeuhfkchufu28kcmtqr16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881147344392-ekd4qtggl8epeuhfkchufu28kcmtqr16</string>
	<key>API_KEY</key>
	<string>AIzaSyB3fMVaG13LlVrIV_8jSj5rtkiWwnK-ukQ</string>
	<key>GCM_SENDER_ID</key>
	<string>881147344392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testapps.FitIncApp</string>
	<key>PROJECT_ID</key>
	<string>fitincrement</string>
	<key>STORAGE_BUCKET</key>
	<string>fitincrement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881147344392:ios:bd8436726bbc90bf5203bd</string>
	<key>DATABASE_URL</key>
	<string>https://fitincrement.firebaseio.com</string>
</dict>
</plist>